body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border: 5px solid #CCCCCC;
    margin: 5px;
}

h1 {
    font-size: 2em;
    font-style: italic;
}

a {
    font-size: 1em;
    text-decoration: none;
}

.section {
    display: block;
    float: left;
    padding-bottom: 20px;
}

.galleryItem {
    display: block;
    float: left;
}
