*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('RobotoMono.ttf') format('truetype');
    font-style: normal;
}

body {
    background-color: #fff;
    line-height: 1.25;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.grid {
    display: grid;
    height: calc(100vh - 2rem);

    grid-template-columns: 360px 1fr;
    grid-template-rows: 2fr 1fr 360px;
}

.grid > * {
    border: 1px solid #dedede;
}

#content {
    padding: 1rem 0 1rem 1rem;
}

#editor {
    background-color: #dedede;
    grid-row: 1;
    overflow: auto;
}

#consoleWrapper {
    background-color: #129;
    color: #eee;
    padding: 0.25rem;
    grid-row: 2;
    overflow: auto;
}

#bs-console {
    font-family: RobotoMono;
    font-size: 13px;
}

#graphicsout {
    grid-row: 3;
    overflow: hidden;
}

.ltYellow {
   background-color: #ffefd5;
}

#book {
    padding: 1.75rem;
     grid-column: 2 / 3;
    grid-row: 1 / span 3;
    overflow: auto;
}

h1 {
    margin: 1.35rem 0 1.25rem 0;
}

h2 {
    margin: 0 0.5rem 1rem 0.5rem;
}

h3, h4 {
    margin: 1.5rem 0.5rem 1rem 0.5rem;
}

#book p {
    margin: 1rem;
}

#book code {
    color: #363;
    margin: 0 0.3rem;
    font-size: 1.0rem;
}

#book pre {
    box-sizing: border-box;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #ffffef;
    border-radius: 0.8rem;
    overflow: auto;
    width: calc(43ch + 2rem + 2px);
    font-family: RobotoMono;
    font-size: 0.9rem;
}

#book li {
    margin-left: 3rem;
    margin-bottom: 0.25rem;
}

table.bordered {
    margin-left: 2rem;
    border-collapse: collapse;
}

table.bordered td {
    padding: 0.5rem 0.8rem;
    border: 1px solid #ccc;
}

table.ch-links {
    border: none;
    width: 100%;
    font-size: 1.1rem;
    margin: 0.3rem 0;
}

td.prev-ch-link {
    font-weight: bold;
    border: none;
}

td.next-ch-link {
    font-weight: bold;
    border: none;
    text-align: right;
}

.indexDiv {
    text-align: center;
}

p.index-p {
    margin: 1.5rem 0;
    font-weight: bold;
    font-size: 1.1rem;
}

p.index-subtitle {
    margin-left: 2rem;
}

p.reg-p {
    margin: 0.75rem;
}
