/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: "Fira";
    src: url("FiraCode-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Roboto";
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* http://stackoverflow.com/questions/10105160/create-a-scroll-bar-in-a-sidebar */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    padding-left: 5px;
}

#container {
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}

.sidebar {
    padding-left: 10px;
    background-color: #9af;
    color: white;
    line-height: 1.8em;
    width: 17%;
    height: 100%;
    vertical-align: top;
    position: fixed;
}

.notes {
    width: 81%;
    height: 100%;
    margin-left: 19%;
    vertical-align: top;
    white-space: normal;
    overflow: auto;
}

.tag {
    font-weight: bold;
    padding: 1px;
    margin-right: 12px;
    box-shadow: 2px 3px 2px 2px
             rgba(0,0,0,0.09), 0 3px 3px
             rgba(0,0,0,0.15);
    background-color: #ff2;
    color: #129;
}

.tags {
    height: 100%;
    overflow: auto;
    white-space: normal;
}

.noteTitle {
    color: #36C;
    font-weight: bold;
}

.alert {
    color: red;
    font-weight: bold;
}

.reference {
    font-style: italic;
    font-size: 0.5em;
}

.codeblock {
    background-color: #eff;
    color: #309;
    line-height: 1.6em;
    padding: 15px;
    border-radius: 25px;
}

.codeblock > code {
    font-family: "Fira";
}

code {
    font-family: "Fira";
    background-color: #eff;
    color: #309;
    padding: 2px;
    line-height: 1.8em;
}

.expandall {
    padding: 2px;
    margin-left: 6px;
    background-color: #34C;
    color: #FFC;
}
