<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heitor's Django Notes - Creating new users</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
        <div>
            <a href="index.html">Back to home</a>
        </div>

        <h1>Creating new users</h1>
        <h3>31st March, 2017</h3>

        <div>
            Before we define the accounting models, let's put together the components for adding new users. Every account and transaction will have to belong to a specific user.
        </div>

        <div>
            Start a new app called <code>users</code>. Follow the <a href="2017_03_30_index_custom_font.html">steps shown for the sitewide app</a>, and install the app in <code>lira/lira/settings.py</code>. In addition, create the folder <code>templates/users</code> in the app's base folder, <code>lira/users</code>.
        </div>

        <div>
            In the <code>templates/users</code> folder, we will create a minimal HTML template, <code>user_creation.html</code>.
            <pre>
&lt;!-- lira/users/templates/users/user_creation.html --&gt;

{% extends 'sitewide/base.html' %}

{% block title %}User creation{% endblock %}

{% block content %}

&lt;h1&gt;Create new user&lt;/h1&gt;

&lt;form action="" method="POST"&gt;
    {% csrf_token %}
    &lt;table&gt;
        {{ form.as_table }}
    &lt;/table&gt;
    
    &lt;p&gt;
        &lt;input type="submit"&gt;
    &lt;/p&gt;
&lt;/form&gt;

{% endblock %}
            </pre>
        </div>

        <!-- SUBOPTIMAL: DOES NOT LOGIN AUTOMATICALLY AFTER SUCCESSFUL CREATION
        
        <div>
            Now, we define the URL that will use this template. Create a <code>urls.py</code> in the app's base folder:
            <pre>
# lira/users/urls.py

from django.conf.urls import url
from django.views.generic.edit import CreateView
from django.contrib.auth.forms import UserCreationForm
from django.urls import reverse_lazy

app_name = 'users'

urlpatterns = [
    url(r'^create/', CreateView.as_view(
        template_name='users/user_creation.html',
        form_class=UserCreationForm,
        success_url=reverse_lazy('sitewide:index')), name='create'),
]
            </pre>
        </div>

        <div>
            As before, include the <code>users</code> URLs in <code>lira/lira/urls.py</code>:
            <pre>
# lira/lira/urls.py

# ... lines omitted

urlpatterns = [
<span class="code_highlight">    url(r'^users/', include('users.urls')),</span>
    url(r'^admin/', admin.site.urls),
    url(r'^', include('sitewide.urls')),
]
            </pre>
        </div>

        <div>
            As defined in the two <code>urls.py</code> files, navigating to <a href="http://127.0.0.1:8000/users/create/" target="_blank">http://127.0.0.1:8000/users/create/</a> will display the user creation form.
        </div>
     -->

        <div>
            Now, let's create a view to save the new user and automatically login if successful. Though it is possible to create new users with a <code>CreateView</code>, it does not have the auto-login feature that I want. So we must create our own view:
            <pre>
# lira/users/views.py

from django.shortcuts import render
from django.http import HttpResponseRedirect
from django.core.urlresolvers import reverse
from django.contrib.auth.forms import UserCreationForm
from django.contrib.auth import authenticate, login

# Create your views here.

def create_and_login(request):
    if request.method == 'POST':
        form = UserCreationForm(request.POST)
        if form.is_valid():
            new_user = form.save()
            new_user = authenticate(
                username=form.cleaned_data['username'],
                password=form.cleaned_data['password1'])
            login(request, new_user)
            return HttpResponseRedirect(reverse('sitewide:index'))
    else:
        form = UserCreationForm()
    return render(request, "users/user_creation.html", {'form': form})
            </pre>
        </div>

        <div>
            And define a URL for this view:
            <pre>
# lira/users/urls.py

from django.conf.urls import url

from . import views

app_name = 'users'

urlpatterns = [
    url(r'^create_and_login/', views.create_and_login, name='create_and_login'),
]
            </pre>
        </div>
        
        <div>
            Let's edit <code>lira/sitewide/templates/sitewide/index.html</code> so it greets the currently identified user:

            <pre>
&lt;!-- lira/sitewide/templates/sitewide/index.html -->

&lt;!-- Skipped several lines -->

{% block content %}

&lt;div class="yesteryear">
    &lt;h1>Welcome to Lira&lt;/h1>
&lt;/div>

Hello {{ user }}!

{% endblock %}
            </pre>
        </div>

        <div>
            Finally, go to <a href="http://127.0.0.1:8000/users/create_and_login/" target="_blank">http://127.0.0.1:8000/users/create_and_login/</a> to create a new user.
        </div>
        
        <div>
            Going to the index without being logged in will display <code>AnonymousUser</code>. Note that the Admin app's login and logout functionality is equivalent to what we are building. After creating a new user, you will be redirected to the index, which should display the new username.
        </div>

        <div>
            With our new users, we can work on logging users in and out. There are built-in components that do most of the work for us. Add login and logout URLs to <code>lira/users/urls.py</code>:
            <pre>
# lira/users/urls.py

<span class="code_highlight">from django.contrib.auth.views import login, logout
from django.urls import reverse_lazy</span>
from django.conf.urls import url

from . import views

app_name = 'users'

urlpatterns = [
    url(r'^create_and_login/', views.create_and_login, name='create_and_login'),
<span class="code_highlight">
    url(r'^login/$', login,
        {'template_name': 'users/login.html',
         'extra_context':
         {'next': reverse_lazy('sitewide:index')}}, name='login'),

    url(r'^logout/$', logout,
        {'next_page': reverse_lazy('sitewide:index')}, name='logout'),
</span>
]
            </pre>
        </div>

        <div>
            Add the <code>users</code> URLs to the main <code>lira/lira/urls.py</code>:

            <pre>
# lira/lira/urls.py

# ... default documentation ...

from django.conf import settings
from django.conf.urls.static import static
from django.conf.urls import url, include
from django.contrib import admin

urlpatterns = [
    url(r'^admin/', admin.site.urls),
<span class="code_highlight">    url(r'^users/', include('users.urls')),</span>
    url(r'^', include('sitewide.urls')),
] + static(settings.STATIC_URL, document_root=settings.STATIC_ROOT)

            </pre>            
        </div>

        
        
        <div>
            Create a login form template in <code>lira/users/templates/users/login.html</code>:

            <pre>
&lt;!-- lira/users/templates/users/login.html --&gt;

{% extends "sitewide/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
&lt;form action="" method="POST"&gt;
    {% csrf_token %}
    &lt;table&gt;
        {{ form.as_table }}
    &lt;/table&gt;

    &lt;p&gt;
        &lt;input type="hidden" name="next" value="{{ next }}"&gt;
        &lt;input type="submit"&gt;
    &lt;/p&gt;
&lt;/form&gt;

{% endblock %}
            </pre>
        </div>
        
        <div>
            Now we add some links to use these URLs in our sitewide index:
 
            <pre>
&lt;!-- lira/sitewide/templates/sitewide/index.html --&gt;

{% extends 'sitewide/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

&lt;div class="yesteryear"&gt;
    &lt;h1&gt;Welcome to Lira&lt;/h1&gt;
&lt;/div&gt;
                <span class="code_highlight">
{% if not user.is_authenticated %}

&lt;a href="{% url 'users:login' %}"&gt;Please login&lt;/a&gt;
or &lt;a href="{% url 'users:create_and_login' %}"&gt;sign up&lt;/a&gt;

{% else %}

Hello {{ user }}!

&lt;a href="{% url 'users:logout' %}"&gt;Logout&lt;/a&gt;

{% endif %}

{% endblock %}</span>
            </pre>
        </div>


    </body>
</html>

